:root {
  --title-font: "Fredoka", sans-serif;
  --body-font: "Inter", sans-serif;

  --bg-blue: #95b3e0;
  --bg-pink: #f379a7;

  --bg-lightpink: #fcdcea;
  --bg-light: #e4f6fe;

  --section-padding: 10gitgit0px 0px;

  --text-dark: #222;
  --text-light: #666;
}

/* -------------- common css start --------------- */

body {
  font-family: var(--body-font);
  margin: 0;
  padding: 0;
  color: var(--text-dark);
  background-color: #fff;
  line-height: 1.6;
}

.section-padd {
  padding: var(--section-padding) 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
a {
  font-family: var(--title-font);
  margin: 0;
  line-height: 1.2;
  color: #252525;
}

.bg-blue {
  background-color: var(--bg-blue);
}

.bg-pink {
  background-color: var(--bg-pink);
}

.bg-lightpink {
  background-color: var(--bg-lightpink);
}
.bg-lightblue {
  background-color: var(--bg-light);
}

/* -------------- common css end --------------- */
/* -------------- header css start --------------- */

.top-bar {
  background-color: #f5f5f5;
  padding: 13px 0px;
}
.form-icon img {
  width: 25px;
  height: 25px;
}
.navbar {
  padding: 30px 0px;
}
/* -------------- header css end --------------- */
/* -------------- hero section  start --------------- */

.best_kids {
  width: 100%;
  height: auto;
  float: left;
  background-image: url(images/image/bg-img.webp);
  background-size: cover;
  position: relative;
}

.design-top {
  width: 100%;
  height: 34px;
  background-image: url(images/image/design.webp);
  position: absolute;
  top: 0;
}
.best_kids_content h1 {
  font-size: 72px;
}
.best_kids_content h6 {
  font-size: 24px;
}
.btn-shop a {
  color: #fff;
  border: 0px;
  line-height: 59px;
  font-weight: 400;
  font-size: 16px;
  padding: 0 44px;
}
.btn-shop:hover {
  background-color: var(--bg-blue);
  transition: 0.3s;
}
.design-bottom {
  width: 100%;
  height: 157px;
  background-image: url(images/image/cloud_img.webp);
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  bottom: -1px;
}
.best_kids_content {
  margin-top: 60px;
}
.best_kids_boy-image {
  background: url(images/image/boy-imge.webp) no-repeat right center;
  background-size: contain;
  height: 100%;
  width: 100%;
  /* margin-top: 60px; */
}
/* -------------- hero section  end --------------- */
/* -------------- product-category start --------------- */

.product-category {
  width: 100%;
  height: auto;
  float: left;
}
.product_content:hover {
  transform: scale(1.05);
  transition: 0.3s;
  background-color: var(--bg-light);
}
.product_content {
  position: relative;
}
.product_image {
  position: relative;
  left: 47px;
}
.product_info {
  position: absolute;
  left: 15px;
}
/* -------------- product-category end --------------- */

/* -------------- New Products start --------------- */
.new_products {
  width: 100%;
  height: auto;
  float: left;
}
/* -------------- New Products start --------------- */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .best_kids_boy-image {
    background: url(images/image/boy-imge.webp) no-repeat center;
    background-size: contain;
    height: 80vh;
    width: 100%;
  }

  .design-bottom {
    width: 100%;
    height: 156px;
    background-position: center;
    background-repeat: no-repeat;
  }

  .best_kids {
    width: 100%;
    height: 266vh;
  }
}
.new_product_info h5 p {
  color: #3b3a2b!important;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
}


/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}
